<!DOCTYPE html>
<html>
  <head>
    <title>Railway Switch</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <center>
      <h1>Railway Switch</h1>
    </center>
    <form method="get">
      <center>
	<div>
	<div class="SwitchName">Switch 1</div>
        <button class="ButtonLeft" formaction="/switch/1/left" type="submit">Left</button>
        <button class="ButtonRight" formaction="/switch/1/right" type="submit">Right</button>
	</div>
	<div>
	<div class="SwitchName">Switch 2</div>
        <button class="ButtonLeft" formaction="/switch/2/left" type="submit">Left</button>
        <button class="ButtonRight" formaction="/switch/2/right" type="submit">Right</button>
	</div>
	<div>
	<div class="SwitchName">Switch 3</div>
        <button class="ButtonLeft" formaction="/switch/3/left" type="submit">Left</button>
        <button class="ButtonRight" formaction="/switch/3/right" type="submit">Right</button>
	</div>
	<div>
	<div class="SwitchName">Switch 4</div>
        <button class="ButtonLeft" formaction="/switch/4/left" type="submit">Left</button>
        <button class="ButtonRight" formaction="/switch/4/right" type="submit">Right</button>
	</div>
	<div>
	<div class="SwitchName">Switch 5</div>
        <button class="ButtonLeft" formaction="/switch/5/left" type="submit">Left</button>
        <button class="ButtonRight" formaction="/switch/5/right" type="submit">Right</button>
	</div>
      </center>
    </form>
  </body>
</html>
