<!DOCTYPE html>
<html>
  <head>
    <title>Railway Switch</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <center>
      <h1>Railway Switch</h1>
    </center>
    <form method="get">
      <center>
	<div>
	  <div class="SwitchName">Switch 1</div>
          <button class="ButtonLeft" onclick="SetSwitch('1', 'left')">Left</button>
          <button class="ButtonRight" onclick="SetSwitch('1', 'right')">Right</button>
	</div>
	<div>
	  <div class="SwitchName">Switch 2</div>
          <button class="ButtonLeft" onclick="SetSwitch('2', 'left')">Left</button>
          <button class="ButtonRight" onclick="SetSwitch('2', 'right')">Right</button>
	</div>
	<div>
	  <div class="SwitchName">Switch 3</div>
          <button class="ButtonLeft" onclick="SetSwitch('3', 'left')">Left</button>
          <button class="ButtonRight" onclick="SetSwitch('3', 'right')">Right</button>
	</div>
	<div>
	  <div class="SwitchName">Switch 4</div>
          <button class="ButtonLeft" onclick="SetSwitch('4', 'left')">Left</button>
          <button class="ButtonRight" onclick="SetSwitch('4', 'right')">Right</button>
	</div>
	<div>
	  <div class="SwitchName">Switch 5</div>
          <button class="ButtonLeft" onclick="SetSwitch('5', 'left')">Left</button>
          <button class="ButtonRight" onclick="SetSwitch('5', 'right')">Right</button>
	</div>
	<div>
	  <div class="SwitchName">Switch 6</div>
          <button class="ButtonLeft" onclick="SetSwitch('6', 'left')">Left</button>
          <button class="ButtonRight" onclick="SetSwitch('6', 'right')">Right</button>
	</div>
	<div>
	  <div class="SwitchName">Switch 7</div>
          <button class="ButtonLeft" onclick="SetSwitch('7', 'left')">Left</button>
          <button class="ButtonRight" onclick="SetSwitch('7', 'right')">Right</button>
	</div>
	<div>
	  <div class="SwitchName">Switch 8</div>
          <button class="ButtonLeft" onclick="SetSwitch('8', 'left')">Left</button>
          <button class="ButtonRight" onclick="SetSwitch('8', 'right')">Right</button>
	</div>
      </center>
    </form>
	<script>
		function SetSwitch(servo_id, direction) {
			var xhr = new XMLHttpRequest();
			xhr.open('GET', '/control?direction=${direction}&servo_id=${servo_id}', true);
			xhr.send();

		}
	</script>
  </body>
</html>
